#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 4rem;
}

main :first-child {
  margin-left: 4rem;
}
